html {
  overflow-y: overlay;
}

/* Heading */
#home-heading {
  position: absolute;
  text-decoration: underline;
  color:rgb(73, 73, 73);
  white-space: nowrap;
  font-size: 4vw;
  left: 50%;
  transform: translate(-50%);
  font-family: Libre Caslon Text, Arial, Helvetica, sans-serif;
}

/* Chapter selection boxes */
#selboxes {
  position: relative;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5em;
  row-gap: 5em;
  left: 50%;
  transform: translate(-50%);
  margin: 5em 0;
  font-size: 1vw;
}

/* Resizing number of columns based on screen size */
@media screen and (max-width: 1000px) {
  #selboxes {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  #selboxes {
    grid-template-columns: 1fr;
  }
}

/* Chapter select button */
#selboxes button {
  background-color: #5bffff;
  width: 18vw;
  height: 13vh;
  border-radius: 1em;
  border: none;
  box-shadow: -4px 3px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.75vw;
  cursor: pointer;
  font-family: Libre Caslon Text, Arial, Helvetica, sans-serif;
}

/* Gallery button */
#selboxes .img-button {
  position: absolute;
  display: block;
  z-index: -10;
  transform: translate(48%, -100%) scale(20%, 96%);
  background-color: #fc0b03;
  transition: background-color 0.5s, transform 0.5s;
}

/* Gallery button effects */
#selboxes .img-button:hover {
  transform: translate(51%, -100%) scale(20%, 96%);
  background-color: #fd5e45;
}

#selboxes .img-button:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  background-color: #eaa79c;
}

/* Gallery button icon */
.img-button-icon {
  position: relative;
  left: 30%;
  transform: scale(350%, 100%);
  color: #5c5c5c;
}

/* Chapter select button effects */
#selboxes .chapter-button {
  transition: 250ms ease-in-out;
}

#selboxes .chapter-button:hover {
  background-color: #0ff;
}

#selboxes .chapter-button:active {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transform: translateY(4px);
  background-color: #70eeee;
}

/* Chapter numbers */
.chapter-box p {
  text-align: center;
  margin: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Libre Caslon Text, Arial, Helvetica, sans-serif;
}

/* Progress bar */
.progress-num {
  position: relative;
  top: -10%;
  transform: scale(0);
  transition: 100ms ease-in-out;
  color: rgb(255, 103, 15);
}

/* When hovering over the progress bar the number will be displayed */
.progress-bar:hover + .progress-num, .progress-bar:active + .progress-num {
  top: -5%;
  transform: scale(100%);
}

.progress-bar {
  height: 1vmin;
  border: 2px solid black;
  border-radius: 5px;
}
/* The amount of progress displayed in the progress bar. */
.progress {
  height: 1.1vmin;
  border: 2px solid black;
  border: none;
  background-color: rgb(73, 255, 49);
}

/* At 100% completion change to "gold" */
.chapter-box .percent100 {
  background-image: linear-gradient(to right, red, orange, yellow, rgb(51, 255, 51), rgb(0, 204, 255), rgb(255, 4, 188));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 1000s linear infinite;
}

@keyframes move {
  to {
    background-position: 4500vh;
  }
}

/* At 0% completion change to black */
.chapter-box .percent0 {
  color: rgb(59, 29, 0);
}
