/* Header */
#gal-header {
  position: absolute;
  text-decoration: underline;
  color: rgb(73, 73, 73);
  font-size: 4vw;
  left: 50%;
  transform: translate(-50%);
}

/* 
  Slideshow 
  Includes all of the elements of the gallery (excluding the nav bar) 
*/
.slideshow {
  width: 75vw;
  margin: 0 auto;
  font-size: 5em;
  padding: 15vh 0 0 0;
}

/* Making the font of the image text smaller (phone screen) */
@media screen and (max-width: 1000px) {
  .slideshow {
    font-size: 3em;
  }
}

/* Size and position of the images */
.slick-slide img {
  max-width: 40vw;
  max-height: 25vw;
  margin: 0 auto;
}

/* Making the image smaller (phone screen) */
@media screen and (max-width: 1000px) {
  .slick-slide img {
    max-width: 40vw;
    max-height: 22vw;
    margin: 0 auto;
  }
}

/* Font for text in gallery screen */
.img_text {
  text-align: center;
  font-size: 5em;
}

/* Next and Previous Arrows */
.nextArrowBtn,
.prevArrowBtn {
  position: absolute;
  color: #e7e7e7;
  font-size: 8vh;
  -webkit-text-stroke: 2px rgb(65, 65, 65);
  bottom: -10%;
  transition: transform 0.25s;
}

/* Next and previous arrows effects */
.nextArrowBtn:hover,
.prevArrowBtn:hover {
  transform: scale(125%);
}

/* Positioning */
.nextArrowBtn { right: 5%; }

/* Positioning */
.prevArrowBtn { left: 5%; }
