/* This style effects the popups of the style to the definition popup.
 * The bookmark is not modified by this script.
*/

/* General modal styles */
#modal {
  display: flex;
  align-items: center; /* Vertical Center */
  justify-content: center; /* Horizontal Center */
  background-color: rgb(233, 233, 233);
  min-width: 45vw;
  min-height: 35vh;
  max-width: 60vw;
  font-size: 4vh;
  border-radius: 10px;
  border: 7px solid;
  text-align: center;
  border-image: linear-gradient(90deg, rgba(40, 255, 0, 1) 0%, rgba(102, 224, 255, 1) 25%, rgba(220, 41, 226, 1) 50%, rgba(233, 82, 98, 1) 75%, rgba(224, 255, 0, 1) 100%) 1;
}

/* Making the definition screen bigger (phone screen) */
@media screen and (max-width: 1000px) {
  #modal {
    min-width: 55vw;
    min-height: 45vh;
    font-size: 4vh;
  }
}

/* Adds padding between the defition and the word */
#modal #modal-container p {
  margin: 4vh 10px;
}

/* Decrease padding between word and definition (phone screen) */
@media screen and (max-width: 1000px) {
  #modal #modal-container p {
    margin: 1vh 10px;
  }
}

/* Definition */
#modal #modal-container #modal-def {
  background-color: rgba(21, 235, 255, 0.8);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgb(177, 177, 177);
}

/* Close Button */
#modal .close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  transition: ease-in-out 100ms;
}

/* Changing the position of the close button (phone screen) */
@media screen and (max-width: 1000px) {
  #modal .close {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

#modal .close:hover {
  opacity: 1;
}

#modal .close::before,
#modal .close::after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}

#modal .close::before {
  transform: rotate(45deg);
}

#modal .close::after {
  transform: rotate(-45deg);
}

/* Quiz Items (Only effects the definition modal) */
.def-quiz-container {
  position: absolute;
  top: 0;
  left: 0;
}

/* Quiz button (lightbulb icon) */
.quiz-btn {
  font-size: 6vmin;
  margin: 0.25em;
  background-color: transparent;
  border: none;
  display: inline;
  transition: 100ms;
}

/* Making the quiz button bigger */
@media screen and (max-width: 1000px) {
  .quiz-btn {
    font-size: 9vmin;
  }
}

.quiz-btn:hover {
  transform: scale(125%);
}

.def-quiz-container:hover .quiz-btn {
  transform: scale(125%);
}

/* Quiz options (add to queue or go to quiz) */
.quiz-options {
  position: absolute;
  display: inline-grid;
  min-width: 8vw;
  transform: translate(-50%) scale(0%);
  transition: ease-in-out 150ms;
}

/* Making the quiz option buttons wider */
@media screen and (max-width: 1000px) {
  .quiz-options {
    min-width: 10vw;
  }
}

.quiz-options button {
  margin: 6px;
  font-size: 1.5vmin;
  padding: 0.5em 0;
  border: none;
  border-radius: 10px;
  box-shadow: -3px 3px 2px black;
  transition: 100ms;
  background-color: rgb(255, 255, 255);
}

/* increasing the font size for the quiz option buttons */
@media screen and (max-width: 1000px) {
  .quiz-options button {
    padding: 0.5em 0em;
    font-size: 2.0vmin;
  }
}


.quiz-options button:active {
  box-shadow: none;
  transform: translate(-3px, 3px);
}

.quiz-options button:hover {
  background-color: antiquewhite;
}

/* When hovering over the quiz options keep them from being closed */
.def-quiz-container:hover .quiz-options {
  transform: translate(0%) scale(100%);
}

/* Show text when a word was added to the quiz queue */
.queue-msg-show {
  position: absolute;
  top: 0%;
  font-size: 2vmin;
  font-weight: bolder;
  color: rgb(209, 10, 36);
}

.queue-msg-hide {
  display: none;
}
