/* Fixes graphical glitch with the stars */
* {
  overflow: auto;
}

/* Header */
#quiz-header {
  font-size: 5vh;
  color: rgb(73, 73, 73);
  margin: 0 11vw;
  text-align: center;
}

#quiz-title {
  font-family: Libre Caslon Text, Arial, Helvetica, sans-serif;
}

/* Definition */
#quiz-def {
  position: absolute;
  overflow: hidden;
  font-size: 2.5vmin;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin: 1vmin 2vmin 2vmin 2vmin;
  padding: 1vmin 2vmin;
  color: rgb(76, 0, 255);
  border-radius: 10px;
  background-color: rgba(151, 255, 250, 0.571);
  box-shadow: 0 8px 4px -4px rgb(104, 104, 104);
  max-height: 9vh;
  width: 60vw;
}

/* Help Button */
#help-btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2%;
  background-color: rgb(255, 245, 245);
  width: 10vmin;
  height: 10vmin;
  border-radius: 50%;
  font-size: 5vmin;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  box-shadow:
    -4px 4px 1px black,
    -5px 5px 1px black,
    -6px 6px 1px black;
  transition: 100ms ease-in-out;
}

#help-btn:active {
  transform: translate(-6px, 6px) translate(-50%);
  box-shadow: none;
}

/* Help Modal Text Styles */
#modal-text .gold {
  color: rgb(233, 211, 87);
  text-decoration: underline;
}

#modal-text .silver {
  color: rgb(173, 173, 173);
  text-decoration: underline;
}

/* Stars */
#stars-container {
  position: absolute;
  right: 2%;
  top: 2%;
}

#stars {
  width: 15vw;
  height: 5vh;
  background-color: rgba(76, 0, 255, 0.214);
  border-radius: 50px;
  border: 3px black solid;
  overflow: hidden;
}

#stars-text {
  text-align: center;
  font-size: 3vmin;
  font-weight: bold;
}

#stars img {
  width: 2.5vw;
}

#stars-list {
  display: flex;
  justify-content: center;
}

/* Quiz */
#quiz-container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 15vmin;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Quiz buttons (words to be chosen) */
#quiz-container button {
  width: 23vw;
  height: 11vw;
  margin: 1em;
  border: none;
  font-size: 4vmin;
  color: black;
  box-shadow:
    1px 0 0 rgb(76, 0, 255),
    0 1px 0 rgb(76, 0, 255),
    2px 1px 0 rgb(76, 0, 255),
    1px 2px 0 rgb(76, 0, 255),
    3px 2px 0 rgb(76, 0, 255),
    2px 3px 0 rgb(76, 0, 255),
    4px 3px 0 rgb(76, 0, 255),
    3px 4px 0 rgb(76, 0, 255),
    5px 4px 0 rgb(76, 0, 255),
    4px 5px 0 rgb(76, 0, 255),
    6px 5px 0 rgb(76, 0, 255),
    5px 6px 0 rgb(76, 0, 255),
    7px 6px 0 rgb(76, 0, 255),
    6px 7px 0 rgb(76, 0, 255),
    8px 7px 0 rgb(76, 0, 255),
    7px 8px 0 rgb(76, 0, 255),
    9px 8px 0 rgb(76, 0, 255),
    8px 9px 0 rgb(76, 0, 255);
  transition: 100ms ease-in-out;
}

.correct-answer {
  background-color: lime;
}

.incorrect-answer {
  background-color: red;
}

.neutral-answer {
  background-color: white;
}

/* decreasing the size of the drop shadow (phone screen) */
@media screen and (max-width: 1000px) {
  #quiz-container button {
    width: 23vw;
    height: 9vw;
    margin: 1em;
    border: none;
    font-size: 4vmin;
    color: black;
    box-shadow:
      1px 0 0 rgb(76, 0, 255),
      0 1px 0 rgb(76, 0, 255),
      2px 1px 0 rgb(76, 0, 255),
      1px 2px 0 rgb(76, 0, 255),
      3px 2px 0 rgb(76, 0, 255),
      2px 3px 0 rgb(76, 0, 255),
      4px 3px 0 rgb(76, 0, 255),
      3px 4px 0 rgb(76, 0, 255),
      5px 4px 0 rgb(76, 0, 255),
      4px 5px 0 rgb(76, 0, 255),
      6px 5px 0 rgb(76, 0, 255),
      5px 6px 0 rgb(76, 0, 255),
      7px 6px 0 rgb(76, 0, 255),
      6px 7px 0 rgb(76, 0, 255);
    transition: 100ms ease-in-out;
  }
}

#quiz-container button:active {
  box-shadow: none;
  transform: translate(9px, 8px);
}

/* 
 * Only allow the hover color to be shown if red or green is not currently
 * being displayed. The white color is the default "neutral" color state.
*/
.neutral-answer:hover {
  background-color: rgba(34, 152, 255, 0.596);
}

#quiz-description {
  font-size: 4vh;
  color: rgb(113, 113, 113);
}

/* Next and Previous Page */
#prevPg,
#nextPg {
  font-size: 10vmin;
  position: fixed;
  cursor: pointer;
  transition: transform 0.25s;
}

#prevPg {
  bottom: 5%;
  left: 15%;
}

#nextPg {
  bottom: 5%;
  right: 15%;
}

#prevPg:hover,
#nextPg:hover {
  transform: scale(125%);
}
