/* Chapter Heading */
#reading-heading {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color:rgb(73, 73, 73);
    white-space: nowrap;
    font-size: 6vh;
}

/* Page Number */
.page-number {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%);
  color:rgb(73, 73, 73);
  white-space: nowrap;
  font-size: 5vh;
}

/* Text block */
.main-text {
  position: relative;
  left: 50%;
  top: 7vh;
  transform: translate(-50%);
  max-width: 70vw;
  max-height: 75vh;
  overflow: auto;
  font-size: 4vmin;
  line-height: 5vmin;
  margin: 0 2vh;
}

/* Images */
img {
  display: block;
  margin: auto;
  height: 20vh;
  padding: 0.5em 0;
  transform: translateY(7vh);
}

/* Next and Previous Page */
#prevPg,
#nextPg {
  font-size: 10vmin;
  position: fixed;
  cursor: pointer;
  transition: transform 0.25s;
}

#prevPg:hover,
#nextPg:hover {
  transform: scale(125%);
}

#prevPg {
  bottom: 5%;
  left: 15%;
}

#nextPg {
  bottom: 5%;
  right: 15%;
}

/* Highlight */
.highlight:hover {
  background-color: yellow;
}

.highlight-definition:hover {
  background-color: yellow;
}

/* Audio */

audio {
  position: absolute;
  display: flex;
  
  left: 50%;
  bottom: 8%;
  transform: translate(-50%) scale(125%);

  width: 40vw;
  transition: 100ms ease-in-out;
  box-shadow: 0px 29.0px 8.0px -25.0px hsl(0deg 0% 0% / 0.38);
  
  border-radius: 15px;
  background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,76,49,1) 50%, rgba(255,146,112,1) 100%);
}

audio:hover {
  transform: translate(-50%) scale(135%);
  box-shadow: 0px 29.0px 15.0px -25.0px hsl(0deg 0% 0% / 0.38);
}

audio::-webkit-media-controls-panel {
  border: none;
  background: linear-gradient(90deg, rgba(255,140,0,1) 0%, rgba(255,76,49,1) 50%, rgba(255,146,112,1) 100%);
}
