/* Chapter Heading */

#reading-heading {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color:rgb(73, 73, 73);
    white-space: nowrap;
    font-size: 6vh;
}

/* Page Number */
.page-number {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translate(-50%);
  color:rgb(73, 73, 73);
  white-space: nowrap;
  font-size: 5vh;
}

/* Main Text */

.main-text {
    position: relative;
    left: 50%;
    top: 5vh;
    transform: translate(-50%);
    text-indent: 40px;
    margin-bottom: 25px;

    max-width: 65vw; 
    max-height: 60vh;
    overflow: auto;
    font-size: 5vh;

    margin: 2vh;
}

/* Images */

img {
  display: block;
  margin: auto;
  height: 20vh;
  padding: 0.5em 0;
  
  transform: translateY(7vh);
}

/* Next and Previous Page */

#prevPg,
#nextPg {
    font-size: 10vh;
    position: fixed;

    cursor: pointer;
}

#prevPg:hover {
    transform: scale(150%);
}

#nextPg:hover {
    transform: scale(150%);
}

#prevPg {
  bottom: 5%;
  left: 15%;
}

#nextPg {
  bottom: 5%;
  right: 15%;
}

.highlight:hover {
  background-color: yellow;
}