/* General */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #AFEEEE;
}

/* width */
body::-webkit-scrollbar {
    width: 20px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: rgb(224, 38, 69);
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 0, 0);
}


/* Navigation Bar */
#navbar {
    position: fixed;
    display: flex;
    min-width: 10vw;
    min-height: 90vh;
    flex-direction: column;
    font-size: 5vw;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;

    background: rgb(40,255,0);
    background: linear-gradient(0deg, rgba(40,255,0,1) 0%, rgba(102,224,255,1) 25%, rgba(220,41,226,1) 50%, rgba(233,82,98,1) 75%, rgba(224,255,0,1) 100%);
}

#navbar i {
    margin: 0.5em 0.25em;

    cursor: pointer;
    transition: transform 0.5s;
}

#navbar i:hover {
    transform: scale(125%);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.line {
    border: 1px solid rgb(66, 66, 66);
    background-color: rgb(66, 66, 66);
    max-width: 1em;
    margin: 0 25%;
}


/* Bookmark */
.bookmark {
    position: fixed;
    right: 5%;
    top: 10%;
}

@media screen and (max-width: 1400px) {
    .bookmark {
        right: 2%;
    }
}

.fa-bookmark {
    position: relative;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    cursor: pointer;
    text-shadow: 5px 5px 5px red;

    transition: transform 0.1s;
}

.fa-bookmark:active {
    text-shadow: none;
    transform: translate(5px, 5px);
    color: rgb(66, 66, 66);
}

.modal {
    z-index: 10;
    width: 7vw;
    height: 30vh;
    padding: 1em 0;
    border: 3px solid black;
    background-color: #F5E5BA;
    text-decoration: underline;
    text-align: center;
    overflow: auto;

    position: relative;
    left: -15%;

    transform: scale(0);
    transition: 300ms ease-in-out;
}

.modal, .modal button {
    font-size: 0.95vw;
}

/* width */
.modal::-webkit-scrollbar, .main-text::-webkit-scrollbar {
    width: 4px;
}

/* Track */
.modal::-webkit-scrollbar-track, .main-text::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.modal::-webkit-scrollbar-thumb, .main-text::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.modal::-webkit-scrollbar-thumb:hover, .main-text::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.modal.active {
    transform: scale(1);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    
    background-color: rgba(33, 33, 33, 0.5);
    pointer-events: none;

    transition: 300ms ease-in-out;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

#add-bookmark, .newBookmark {
    border: none;
    padding: 8px;
    margin: 0.5em;
    border-radius: 10px;
    background-color: rgb(168, 255, 29);
    box-shadow: -4px 4px 0 black;
}

#add-bookmark:hover {
    cursor: pointer;
}

.newBookmark span {
    font-size: 14px;
    display: block;
}

.newBookmark:active {
    background-color: rgb(149, 207, 55);
    box-shadow: none;
    transform: translate(-4px, 4px);
}

.newBookmark:hover {
    cursor: pointer;
}

#add-bookmark {
    background-color: rgb(104, 243, 229);
}

#add-bookmark:active {
    background-color: rgb(127, 202, 195);
    box-shadow: none;
    transform: translate(-4px, 4px);
}

.bookmarkDel {
    position: relative;
    padding: 3px;
    top: 3%;
    right: 2%;
    border: none;
    background-color:hsl(27, 100%, 50%);
    border-radius: 2px;
    height: 5vh;
    color: rgb(0, 0, 0);
    box-shadow: -3px 3px 0 black;
}

.bookmarkDel:active {
    background-color: hsl(27, 79%, 49%);
    box-shadow: none;
    transform: translate(-3px, 3px);
}

.bookmarkDel:hover {
    cursor: pointer;
}
