/* Font imports from google fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Libre+Caslon+Text:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Baskervville:regular,italic);

/* General */
* {
  padding: 0;
  margin: 0;
  font-family: Baskervville, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Background color for all pages */
body {
  background-color: #AFEEEE;
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-color: #ff0808 white;
  scrollbar-width: auto;
}

/* Scrollbar styles for Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 20px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  background: #ff0808;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(232, 0, 0);
}

/* Navigation Bar */
#navbar {
  position: fixed;
  display: flex;
  flex: auto;
  min-width: 10vw;
  min-height: 100vh;
  flex-direction: column;
  font-size: 5vw;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  text-align: center;
  background: rgb(40,255,0);
  background: linear-gradient(0deg, rgba(40,255,0,1) 0%, rgba(102,224,255,1) 25%, rgba(220,41,226,1) 50%, rgba(233,82,98,1) 75%, rgba(224,255,0,1) 100%);
}

/* Navigation bar icons */
#navbar i {
  margin: 0.4em 0.25em;

  cursor: pointer;
  transition: transform 0.5s;
}


/* Increase size and add a white border on hover */
/* making margin between icons smaller for iphone se (phone screen) */
@media screen and (max-aspect-ratio: 4/2) {
  #navbar i {
    margin: 0.5em 0.25em;

    cursor: pointer;
    transition: transform 0.5s;
  }
}

#navbar i:hover {
  transform: scale(125%);
  text-shadow: 0 0 5px rgb(255, 255, 255);
}

/* Horizontal line in the bookmark (below the home button) */
.line {
  border: 1px solid rgb(66, 66, 66);
  background-color: rgb(66, 66, 66);
  max-width: 1em;
  margin: 0 25%;
}

/* Bookmark */
.bookmark {
  position: fixed;
  right: 5%;
  top: 10%;
}


/* Button to open the bookmark popup */
/* adjusting position of bookmark (phone screen) */
@media screen and (max-width: 1000px) {
  .bookmark {
    position: fixed;
    right: 5%;
    top: 10%;
  }
}

/* adjusting position of bookmark for iphone se (phone screen) */
@media screen and (max-width: 1000px) and (max-aspect-ratio: 4/2) {
  .bookmark {
    position: fixed;
    right: 5.5%;
    top: 10%;
  }
}

.fa-bookmark {
  font-size: 5vw;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  cursor: pointer;
  text-shadow: 5px 5px 5px red;
  transition: transform 0.1s;
}

.fa-bookmark:active {
  text-shadow: none;
  transform: translate(5px, 5px);
  color: rgb(66, 66, 66);
}

/* Bookmark popup */
#bookmark-modal-container {
  position: fixed;
  padding: 0.5rem;
  max-width: 11vw;
  height: 30vh;
  overflow: auto;
  border: 3px solid black;
  background-color: #F5E5BA;
  text-align: center;
  transition: 300ms ease-in-out;
  scrollbar-color: grey white;
  scrollbar-width: thin;
  left: 90% !important;
  right: 2%;
  top: 22% !important;
}

/* Change size of all children in bookmark popup */
/* adjusting position of bookmark container (phone screen) */
@media screen and (max-width: 1000px) {
  #bookmark-modal-container {
    position: fixed;
    left: 87% !important;
    top: 22%;
    height: 50vh;
    border: 2px solid black;
  }
}

/* adjusting position of bookmark container for iphone se (phone screen) */
@media screen and (max-width: 1000px) and (max-aspect-ratio: 4/2) {
  #bookmark-modal-container {
    position: fixed;
    left: 85% !important;
    top: 22%;
    border: 2px solid black;
    max-width: 11vw;
    height: 50vh;
    text-align: center;
  }
}


#bookmark-modal-container * {
  font-size: 1.75vmin;
}

/* Header for the bookmark popup */
/* decreasing font for chapter icon (phone screen) */
@media screen and (max-width: 1000px) {
  #bookmark-modal-container * {
    font-size: 12px;
  }
}

/* decreasing font for chapter icon iphone se (phone screen) */
@media screen and (max-width: 1000px) and (max-aspect-ratio: 4/2) {
  #bookmark-modal-container * {
    font-size: 10px;
  }
}

.bookmark-header {
  margin: 1vmin;
}

/* List of bookmarks */
.bookmark-list {
  display: grid;
  max-width: 6.5vw;
  margin: 1rem auto;
  grid-gap: 0.75vw 0.25vw;
  grid-template-columns: 8fr 1fr;
}

/* Bookmark's Scrollbar's Width */
#bookmark-modal-container::-webkit-scrollbar, .main-text::-webkit-scrollbar {
  width: 8px;
}

/* decreasing width of scroll bar in bookmark (phone screen) */
@media screen and (max-width: 1000px) {
  #bookmark-modal-container::-webkit-scrollbar, .main-text::-webkit-scrollbar {
    width: 6px;
  }
}

/* Bookmark's Scrollbar's Track */
#bookmark-modal-container::-webkit-scrollbar-track, .main-text::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Bookmark's Scrollbar's Handle */
#bookmark-modal-container::-webkit-scrollbar-thumb, .main-text::-webkit-scrollbar-thumb {
  background: #888;
}

/* Bookmark's Scrollbar's Handle on hover */
#bookmark-modal-container::-webkit-scrollbar-thumb:hover, .main-text::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* 
  Add a new bookmark and current bookmark 
  Note: newBookmark refers to ANY bookmark that has been added 
*/
#add-bookmark, .newBookmark {
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: rgb(168, 255, 29);
  box-shadow: -4px 4px 0 black;
  transition: ease-in-out 150ms;
}

/* decreasing size for add new bookmark button (phone screen) */
@media screen and (max-width: 1000px) {
  #add-bookmark, .newBookmark {
    padding: 0.3rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(168, 255, 29);
    box-shadow: -3px 3px 0 black;
    transition: ease-in-out 150ms;
    font-size: 12px;
  }
}

/* decreasing size for add new bookmark button for iphone se (phone screen) */
@media screen and (max-width: 1000px) and (max-aspect-ratio: 4/2) {
  #add-bookmark, .newBookmark {
    padding: 0.3rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(168, 255, 29);
    box-shadow: -3px 3px 0 black;
    transition: ease-in-out 150ms;
    font-size: 10px;
  }
}



#add-bookmark:hover {
  cursor: pointer;
}

/* Text inside of each bookmark */
.newBookmark span {
  font-size: 1vmin;
  display: block;
}

.newBookmark:active {
  background-color: rgb(149, 207, 55);
  box-shadow: none;
  transform: translate(-4px, 4px);
}


.newBookmark:hover {
  cursor: pointer;
}

/* Color of add bookmark button */
#add-bookmark {
  background-color: rgb(104, 243, 229);
}

#add-bookmark:active {
  background-color: rgb(127, 202, 195);
  box-shadow: none;
  transform: translate(-4px, 4px);
}

/* Delete bookmark button */
.bookmarkDel {
  padding: 0.75rem 0.1rem;
  border: none;
  background-color:hsl(27, 100%, 50%);
  border-radius: 3px;
  box-shadow: -3px 3px 0 black;
  transition: ease-in-out 150ms;
}

.bookmarkDel:active {
  background-color: hsl(27, 79%, 49%);
  box-shadow: none;
  transform: translate(-3px, 3px);
}

.bookmarkDel:hover {
  cursor: pointer;
}
