/* General */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #AFEEEE;
}


/* Navigation Bar */
#navbar {
    position: fixed;
    display: flex;
    min-width: 10vw;
    min-height: 90vh;
    flex-direction: column;
    font-size: 5vw;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    text-align: center;

    background: rgb(40,255,0);
    background: linear-gradient(0deg, rgba(40,255,0,1) 0%, rgba(102,224,255,1) 25%, rgba(220,41,226,1) 50%, rgba(233,82,98,1) 75%, rgba(224,255,0,1) 100%);
}

#navbar i {
    margin: 0.5em 0.25em;
    cursor: pointer;
}

#navbar i:hover {
    transform: scale(125%);
    text-shadow: 0 0 5px rgb(255, 255, 255);
}

.line {
    border: 1px solid rgb(66, 66, 66);
    background-color: rgb(66, 66, 66);
    max-width: 1em;
    margin: 0 25%;
}


/* Bookmark */
.bookmark {
    position: fixed;
    right: 5%;
    top: 10%;
}

@media screen and (max-width: 1400px) {
    .bookmark {
        right: 2%;
    }
}

.fa-bookmark {
    position: relative;
    font-size: 5vw;
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    cursor: pointer;
    text-shadow: 5px 5px 5px red;
}

.fa-bookmark:active {
    text-shadow: none;
    transform: translate(5px, 5px);
    color: rgb(66, 66, 66);
}

.modal {
    z-index: 10;
    width: 6vw;
    height: 30vh;
    padding: 1em 0;
    border: 3px solid black;
    background-color: #F5E5BA;
    text-decoration: underline;
    text-align: center;
    overflow: auto;

    position: relative;
    left: -15%;

    transform: scale(0);
    transition: 300ms ease-in-out;
}

.modal, .modal button {
    font-size: 1vw;
}

.modal.active {
    transform: scale(1);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    
    background-color: rgba(33, 33, 33, 0.5);
    pointer-events: none;

    transition: 300ms ease-in-out;
}

#overlay.active {
    pointer-events: all;
    opacity: 1;
}

#add-bookmark, .newBookmark {
    border: none;
    padding: 4px;
    margin: 0.5em;
    border-radius: 10px;
    background-color: rgba(233,82,98,1);
    box-shadow: -4px 4px 0 black;
}

#add-bookmark:active, .newBookmark:active {
    background-color: rgb(187, 90, 100);
    box-shadow: none;
    transform: translate(-4px, 4px);
}
